{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block content %}

<h1>NEWS ARTICLES</h1>


{{macro displayArticles(article)}}

{% endblock%}

 <!--<li>{{ macro.displayArticleList(article)}}</li>-->


 <!--{%for article in articles %}-->


<!--<a href="/article/{{article.id}}"> {{article.id}}</a>-->
        <!--<p>{{article.title}}</p>-->
<!--<p>{{article.description}}</p>-->
<!--<p>{{article.url}}</p>-->
<!--<p>{{article.urlToImage}}</p>-->
<!--<p>{{article.publishedAt}}</p>-->

        <!--{% endfor %}-->
