{% extends 'base.html'%}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}


{% block content %}



<div class="jumbotron mt-0">
<h1 style="text-align:center">NEWS ARTICLES</h1>
<h3 style="text-align:center; color:#0d47a1" class="display-3">News from {{ name_source }}

<div class="container">
    <div class="card-columns">

        {%for article in articles %}

        <div class="card border-secondary">
            <img class="card-img-top" src="{{ article.urlToImage }}" alt="An Image Here" style="width:450px;height: 450px;">
            <div class="card-body">
                <h5 class="card-title">{{article.title}}</h5>
                <p class="card-text">{{article.description}}</p>
                <a href="{{article.url}}" class="card-link">Read More</a>


            </div>

            <footer class="blockquote-footer"><cite title="Source Title">Posted on {{article.publishedAt}} </cite>
            </footer>
        </div>
        {% endfor %}

    </div>
</div>
    </div>


{% endblock%}


