
{% import 'macros.html' as macro%}

<html>
<head>
    <meta charset="UTF-8">
    {% if title%}
    <title> {{title}} </title>

    {%else%}
    <title> Welcome to the best News website in the world </title>
    {%endif%}
</head>

<body>
        <!-- General Category Home section  -->
        <h3> TOP AND GENERAL HEADLINES </h3>
         <ul>

             {{ macro.displaySourceList(general)}}
            <!--{% for general_news in general %}-->

             <!--&lt;!&ndash;Loop the general news in the general category of the NewsAPI&ndash;&gt;-->
             <!--<li>{{ general_id}}</li>-->
             <!--<li>{{ general_news.name}}</li>-->
             <!--<li>{{ general_news.description}}</li>-->
             <!--<li>{{ general_news.url}}</li>-->
             <!--<li>{{ general_news.country}}</li>-->
             <!--<li>{{ general_news.category}}</li>-->

            <!--{% endfor %}-->
        </ul>




<h3> BUSINESS NEWS </h3>
         <ul>
            {% for business_news in business %}

             <!--Loop the general news in the general category of the NewsAPI-->
             <li>{{ business_id}}</li>
             <li>{{ business_news.name}}</li>
             <li>{{ business_news.description}}</li>
             <li>{{ business_news.url}}</li>
             <li>{{ business_news.country}}</li>
             <li>{{ business_news.category}}</li>

            {% endfor %}
        </ul>



<h3> SPORTS NEWS </h3>
         <ul>
            {% for sports_news in sports %}

             <!--Loop the general news in the general category of the NewsAPI-->
             <li>{{ sports_id}}</li>
             <li>{{ sports_news.name}}</li>
             <li>{{ sports_news.description}}</li>
             <li>{{ sports_news.url}}</li>
             <li>{{ sports_news.country}}</li>
             <li>{{ sports_news.category}}</li>

            {% endfor %}
        </ul>


<h3> ENTERTAINMENT NEWS </h3>
         <ul>
            {% for entertainment_news in entertainment %}

             <!--Loop the general news in the general category of the NewsAPI-->
             <li>{{ entertainment_id}}</li>
             <li>{{ entertainment_news.name}}</li>
             <li>{{ entertainment_news.description}}</li>
             <li>{{ entertainment_news.url}}</li>
             <li>{{ entertainment_news.country}}</li>
             <li>{{ entertainment_news.category}}</li>

            {% endfor %}
        </ul>



<h3> SCIENCE NEWS </h3>
         <ul>
            {% for science_news in science %}

             <!--Loop the general news in the general category of the NewsAPI-->
             <li>{{ science_id}}</li>
             <li>{{ science_news.name}}</li>
             <li>{{ science_news.description}}</li>
             <li>{{ science_news.url}}</li>
             <li>{{ science_news.country}}</li>
             <li>{{ science_news.category}}</li>

            {% endfor %}
        </ul>



<h3> TECHNOLOGY NEWS </h3>
         <ul>
            {% for technology_news in technology %}

             <!--Loop the general news in the general category of the NewsAPI-->
             <li>{{ technologyl_id}}</li>
             <li>{{ technology_news.name}}</li>
             <li>{{ technology_news.description}}</li>
             <li>{{ technology_news.url}}</li>
             <li>{{ technology_news.country}}</li>
             <li>{{ technology_news.category}}</li>

            {% endfor %}
        </ul>

 </body>


</html>