{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}


{% block content %}
        <!-- General Category Home section  -->
        <h3 text-center> NEWS SOURCES </h3>
         <ul>
             <li>{{ macro.displaySourceList(general)}}</li>

        </ul>

<ul>

    {%for article in articles %}

<!--<a href="/article/{{article.id}}"> </a>-->

   <p> {{article.id}}   </p>
        <p><b>{{article.title}}</b></p>
       <img src="{{article.urlToImage}}">
    <p>{{article.author}}</p>
<p>{{article.description}}</p>
<p>{{article.url}}</p>
<p>{{article.urlToImage}}</p>
<p>{{article.publishedAt}}</p>
        </ul>

        {% endfor %}



<p>TOP HEADLINES</p>

{%for headline in headlines %}


   <p> {{headline.id}}   </p>
        <p><b>{{headline.title}}</b></p>
       <img src="{{headline.urlToImage}}">
    <p>{{headline.author}}</p>
<p>{{headline.description}}</p>
<p>{{headline.url}}</p>
<p>{{headline.urlToImage}}</p>
<p>{{headline.publishedAt}}</p>
        </ul>

        {% endfor %}




{% endblock%}
