{% macro displaySourceList(source_list) %}


<div class="main">
    <div class="container-fluid">
      <div class="row">

          <div class="col-3">
          <div class="card-column">
            <div class="card-header">

<h3 style="text-align:center; color: black,
 font-size: 45px;" class="display-3">News Sources</h3>
            </div>

<div class="list-group list-group-flush">
              <ul>
        {% for source in source_list %}
                  <a href="/articles/{{source.id}}">
                      <p class="text-capitalize">{{source.name}}</p>
                  </a>
                <p class="">{{ source.description}}</p>
        {% endfor %}
          </ul>

  </div>
    </div>
  </div>
        {% endmacro %}
