{% macro displaySourceList(source_list) %}

    {% for source in source_list %}
        <li>{{ source.name}}</li>
        <li>{{ source.description}}</li>
        <li>{{ source.url}}</li>
        <li>{{ source.country}}</li>
        <li>{{ source.category}}</li>
{% endfor %}

{% endmacro %}


{% macro displayArticles(articles_list) %}

        {% for article in articles_list %}
            <div class="row font">
                <div class="col-md-6" ><img src="{{article.image_url}}" style="display: inline-block; height:300px;width: 600px; ">

                </div>
                <div class="col-md-6 ">
                    <h3 style="color:#C04000">{{article.title}}</h3><h5>by {{article.author}}</h5>

                    <p class="description">{{article.description}} <a href="{{article.url}}">Read more...</a></p>
                    <p class="timestamp"><b>Published on {{article.publish_time}}</b></p>

                </div>
            </div>
        {% endfor %}

{% endmacro %}
