{% macro displaySourceList(source_list) %}

    {% for source in source_list %}

<div class="card border-primary mb-3" style="max-width: 70rem;">
  <div class="card-header"><b>{{ source.name}}</b></div>
  <div class="card-body">
    <p class="card-text">{{ source.description}}</p>
  </div>
</div>

{% endfor %}
{% endmacro %}

<!--DISPLAYING ARTICLES-->

{% macro displayArticles(articles_list) %}

        {% for article in articles_list %}

<li> <a href="{{article.title}}">{{article.title}}</a></li>
<li>{{article.name}}</li>
<li>{{article.author}}</li>
<li>{{article.description}}</li>
<li>{{article.url}}</li>
<li>{{article.publishedAt}}</li>

        {% endfor %}
{% endmacro %}