{% extends 'base.html'%}
{% import 'macros.html' as macro%}


{% block content %}
<div class="jumbotron">
    <h1 class="display-3"> TECHNOLOGY NEWS</h1>
    <p class="lead">This is a simple business page with simple news component for calling extra attention to featured
        content or information.</p>
    <hr class="my-4">

    <ul>

        {{ macro.displaySourceList(technology)}}

    </ul>


    It uses utility classes for typography and spacing to space content out within the larger container.
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
{% endblock%}